# Credentials
CLIENT_SECRET.*
credentials.*

# Following Text Files
following_me_only.txt
following_them_only.txt

# Python
__pycache__
.mypy_cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode
.vscode

# Jetbrains IDEs; PyCharm/IntelliJ
.idea

