# Credentials
CLIENT_SECRET.*
credentials.*
service_account.*

# Instagram Specific Text Files
following_me_only.txt
following_them_only.txt
followers.txt
following.txt
*_error.txt
error.txt

testing.py

# Sensitive Data
tools/*
bfg.jar

# Python
__pycache__
.mypy_cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode
.vscode

# Jetbrains IDEs; PyCharm/IntelliJ
.idea

